<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#graficos"
    aria-expanded="false" aria-controls="collapseExample">
    Exibir Gráficos
</button>

<div class="well collapse" id="graficos">
<article class="row d-flex justify-content-between align-items-center">
    <article class="col-12">
        <div id="pie_chart"></div>
        <div id="3d_pie_chart"></div>
        <div id="donut_chart"></div>
    </article>
</article>
<article class="row d-flex justify-content-between align-items-center">
    <article class="col-12">
        <div id="bar_chart"></div>
        <div id="line_chart"></div>
        <div id="column_chart"></div>
    </article>
</article>
</div>