<section>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#graficos" aria-expanded="false"
        aria-controls="collapseExample">
        Exibir Gráficos
    </button>
</section>
<section class="container-fluid collapse" id="graficos">
    <section class="row well  mt-5 quadrados" >
        <article class="row d-flex f-right">
            <div id="pie_chart"></div>
            <div id="3d_pie_chart"></div>
            <div id="donut_chart"></div>

        </article>
        <article class="row">
            <article class="col-12">
                <div id="bar_chart"></div>
                <div id="line_chart"></div>
                <div id="column_chart"></div>
            </article>
        </article>
    </section>

</section>